body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

h1 {
  text-align: center;
}

.question-container {
  margin: 0 0 0 20px;
  position: relative;
}

.question-options {
  margin-top: 10px;
}

.answer-choice {
  display: inline-block;
  margin: 0 0 0 0;
}

.answer-choice, label:hover, #submit-button {
  cursor: pointer;
}

.question-image {
  position: absolute;
  top: 0%;
  right: 10%;
}

.question-image > img {
  width: 7em;
  height: 5em;
  margin: 20px;
}

#submit-button {
  height: 50px;
  width: 100px;
  
}

#submit-container {
  text-align: center;
  padding-bottom: 50px;
}

#total_score {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}